<div class="container mt-3">
    <div class="card">
        
        <div class="card-body">
           
            <h3 class="titulo">REGISTRAR EQUIPO</h3>
            <div class="mb-3">
          
              <form class="mt-3" action="" (ngSubmit)="registrarCelular()" [formGroup]="celularesForm" >

                <input type="text"
                class="form-control mt-2" formControlName="nombreCelular" placeholder="Nombre del equipo">   

                <input type="text"
                class="form-control mt-2" formControlName="camaraPosterior" placeholder="Camara Posterior">   

                <input type="text"
                class="form-control mt-2" formControlName="camaraFrontal" placeholder="Camara Frontal">                       

                <input type="text"
                class="form-control mt-2" formControlName="sizePantalla" placeholder="Tamaño de pantalla">   

                <input type="text"
                class="form-control mt-2" formControlName="sizeRam" placeholder="Ram">   

                <input type="text"
                class="form-control mt-2" formControlName="sizeStorage" placeholder="Almacenamiento">   

                <input type="text"
                class="form-control mt-2" formControlName="sizeBatery" placeholder="Bateria">   

                <input type="text"
                class="form-control mt-2" formControlName="nombreProcesador" placeholder="Procesador">   

                <input type="text"
                class="form-control mt-2" formControlName="imagen" placeholder="URL imagen">   


                <button [disabled]="celularesForm.invalid" type="submit" class="btn btn-success mt-3 float-start">Guardar</button>
                <button type="button" class="btn btn-danger mt-3 float-end" routerLink="/">volver</button>
                
              </form>          
            </div>
        </div>
      
    </div>
    </div>
    