<div class="container mt-3">
    <div class="card">
        <h4 class="card-title text-center mt-3">Ficha tecnica de {{celular.nombreCelular}}</h4>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6 col-6">
                <div class="card" style="border-style: none;">
                    
                    <img class="card-img-top" [src]="celular.imagen" alt="Title">
                    
                </div>
            </div>
            <div class="col-sm-6 col-6">
                <div class="card " style="border-style: none;">
                    
                    <div class="table-responsive mt-5">
                        <table class="table">
                            
                            <tbody>
                                <tr class="">
                                    <td scope="row">Camara Posterior</td>
                                    <td>{{celular.camaraPosterior}}</td>
                                    
                                </tr>
                                <tr class="">
                                    <td scope="row">Camara Frontal</td>
                                    <td>{{celular.camaraFrontal}}</td>
                                    
                                </tr>                            
                                <tr class="">
                                    <td scope="row">Tamaño de pantalla</td>
                                    <td>{{celular.sizePantalla}}</td>
                                    
                                </tr>
                                <tr class="">
                                    <td scope="row">RAM</td>
                                    <td>{{celular.sizeRam}}</td>
                                    
                                </tr>
                                <tr class="">
                                    <td scope="row">Almacenamiento</td>
                                    <td>{{celular.sizeStorage}}</td>
                                    
                                </tr>
                                <tr class="">
                                    <td scope="row">Bateria</td>
                                    <td>{{celular.sizeBatery}}</td>
                                    
                                </tr>
                                <tr class="">
                                    <td scope="row">Procesador</td>
                                    <td>{{celular.nombreProcesador}}</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    
                </div>
            </div>
          </div>
        </div> 
    </div>

      
   

    <button type="button" class="btn btn-danger mt-3 float-end mb-3 me-2" (click)="eliminarCelular()">Eliminar</button>
    
    <button type="button" class="btn btn-danger mt-3 float-end mb-3 me-2" routerLink="/">Volver</button>
        
    <button type="button" class="btn btn-primary mt-3 float-end mb-3 me-2" [routerLink]="['/editaralumno',celularId]">Editar</button>
                
</div>
    