<div class="container mt-3">
<div class="card">
    
    <div class="card-body">
       
        <h3 class="titulo">LISTADO DE EQUIPOS</h3>
        <button class="btn btn-success float-end" routerLink="/crear-partido">NUEVO</button><br>
            <div class="table-responsive mt-3 mb-3">               

                <div class="input-group mb-3 mt-2">
                    <input type="text" class="form-control" (keyup)="searchPartido()" [(ngModel)]="searchText" placeholder="Buscar" aria-label="Buscar" aria-describedby="basic-addon2">
                    <span class="input-group-text bg-light" id="basic-addon2"><i (click)="limpiarCampo()" style="cursor: pointer;border:0;outline:none;" class="text-danger fa-sharp fa-solid fa-circle-xmark"></i></span>
                  </div>
               
            </div>
            <span class="badge rounded-pill text-bg-dark ml-4">Cantidad de celulares: {{listadoCelulares.length}}</span>
        <div class="row">
            
            <div class="col-3 col-sm-3  " *ngFor="let item of listadoCelulares">
                <div class="card m-3" style="border-style: none;cursor: pointer;" [routerLink]="['/revisar-alumno',item._id]" >
                    <img class="card-img-top" [src]="item.imagen" style="border-style: none;">
                    <div class="card-body text-center"  style="border-style: none;">
                        <h4 class="card-title">{{item.nombreCelular}}</h4>
                        
                    </div>
                </div>
            </div>
            
        </div>
            
    </div>
  
</div>
</div>
