<div class="container mt-3">
<div class="card">
    
    <div class="card-body">
       
        <h3 class="titulo">LISTADO DE RESULTADOS</h3>
        <button class="btn btn-success float-end" routerLink="/crear-partido">NUEVO</button><br>
            <div class="table-responsive mt-3">               

                <div class="input-group mb-3">
                    <input type="text" class="form-control" (keyup)="searchPartido()" [(ngModel)]="searchText" placeholder="Buscar" aria-label="Buscar" aria-describedby="basic-addon2">
                    <span class="input-group-text bg-light" id="basic-addon2"><i (click)="limpiarCampo()" style="cursor: pointer;border:0;outline:none;" class="text-danger fa-sharp fa-solid fa-circle-xmark"></i></span>
                  </div>
                <table class="table table-dark text-light">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">Partido</th>
                            <th class="text-center" scope="col">Marcador</th>
                            <th class="text-center" scope="col">Cuotas</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text " *ngFor="let partido of listadoPartidos">
                            <td class="text-center">{{partido.nombrePartido}}</td>
                            <td class="text-center">{{partido.marcadorLocal}} - {{partido.marcadorVisita}}</td>
                            <td class="text-center text-small" style="font-size: 14px;">L:{{partido.cuotaLocal}} - E:{{partido.cuotaEmpate}} - V:{{partido.cuotaVisita}}</td>
                            <td class="text-danger"><span><i (click)="eliminarPartido(partido)" style="cursor: pointer;" class="fa-solid fa-trash"></i></span></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            
        </div>
  
</div>
</div>
